<% include ../header %>
  <header class="row-fluid text-center">
    <h2>Chat</h2>
    <span>algo</span>
  </header>
  <section class="row-fluid">
    <section class="span12">
      <table class="table well">
        <thead>
          <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Status</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <!--<%contatos.sort((a,b)=> a.nome.toLowerCase() < b.nome.toLowerCase() ? -1 : a.nome.toLowerCase()>
              b.nome.toLowerCase()? 1: 0)%> -->
          <% contatos.forEach(function(contato) { %>
            <tr>
              <td>
                <%- contato.nome %>
              </td>
              <td>
                <%- contato.email %>
              </td>
              <td>
                <span id="notify_<%- contato.email %>" class="label">Offline</span>
              </td>
              <td>
                <a href="/chat" id="chat_<%- contato.email %>" class="btn btn-inverse">Conversar</a>
              </td>
            </tr>
            <% }) %>
        </tbody>
      </table>
    </section>
  </section>
  <% include ../exit %>
    <% include ../footer %>
      <% include notify_script %>