<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect('');
  const notify = function (data) {
    const notify = document.getElementById(data.el);
    if (notify) {
      notify.textContent = data.msg;
      notify.className = data.classes;
    }
  };

  socket.on('notify-onlines', function (email) {
    const opts = {
      el: 'notify_' + email
      , msg: 'Online'
      , classes: 'online label label-success'
    };
    notify(opts);
  });

  socket.on('notify-offline', function (email) {
    const opts = {
      el: 'notify_' + email
      , msg: 'Offline'
      , classes: 'label'
    };
    notify(opts);
  });

  socket.on('new-message', function (data) {
    const opts = {
      el: 'notify_' + data.email
      , msg: 'Mensagem'
      , classes: 'label label-important'
    };
    notify(opts);
    const chat = document.getElementById('chat_' + data.email);
    chat.href = '/chat?sala=' + data.sala;
    novaMensagem()
  });
</script>
<script>
  function novaMensagem() {
    const contato = document.querySelectorAll('tbody tr')
    const contatos = document.querySelector('tbody')
    let contatosdois = []
    contato.forEach(c => {
      if (c.querySelector('span').innerText == 'Mensagem') {
        contatosdois.unshift(`<tr><td>${c.querySelector('td').innerText}</td><td>${c.querySelectorAll('td')[1].innerText}</td><td><span id="${c.querySelector('span').id}" class="${c.querySelector('span').classList}">${c.querySelector('span').innerText}</span></td><td><a href="${c.querySelector('a').href}" id="${c.querySelector('a').id}" class="${c.querySelector('a').classList}">${c.querySelector('a').innerText}</a></td></tr>`)
      } else {
        contatosdois.push(`<tr><td>${c.querySelector('td').innerText}</td><td>${c.querySelectorAll('td')[1].innerText}</td><td><span id="${c.querySelector('span').id}" class="${c.querySelector('span').classList}">${c.querySelector('span').innerText}</span></td><td><a href="${c.querySelector('a').href}" id="${c.querySelector('a').id}" class="${c.querySelector('a').classList}">${c.querySelector('a').innerText}</a></td></tr>`)
      }
    })
    contatos.innerHTML = ''
    contatosdois.forEach(c => {
      contatos.innerHTML += c
    })
  }
</script>